@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.stickyBar {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  transition: transform 0.25s ease-in-out;
}

.stickyTop {
  top: 0;
  border-bottom: 1px solid map-deep-get($colors, "grays", 100);
  padding-block: 8px;
  transform: translateY(-100%);

  &.sticky {
    transform: translateY(0);
  }
}

.stickyBottom {
  bottom: 0;
  padding: 16px;
  box-shadow: 0 -2px 2px rgba(0,0,0,.1);

  &.sticky {
    transform: translateY(100%);
  }
}
